@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root {
    --clr-light: #f2f3f5;
    --clr-dark: #1f1f1f;
}

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
  transition: 0.4s;
}

main {
  margin: 5vh 15%;
}

label {
  position: relative;
  width: 50px;
  height: 26px;
  border: 2px solid;
  border-radius: 20px;
}

label:before {
  position: absolute;
  content: '';
  width:20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: var(--clr-dark);
  cursor: pointer;
  transition: 0.4s;
}

label.active:before {
  left: 24px;
  background: var(--clr-light);
}

body.night {
  background: var(--clr-dark);
  color: var(--clr-light);
}

/* .outline {
  border: red 1px solid;
} */